
<h2 class="text-center mt-2"><img src="../../../assets/img/balance.png" width="50" alt=""> Surpoids</h2>
<form [formGroup]="formdata">
    <div class="col-12 col-md-8 mx-auto shadow p-5 mt-5">
        <div class="row">
            <div class="col-6">
                <label for="">Tracking </label>
                <input type="text" class="form-control" formControlName="tracking" placeholder="Tracking" autofocus>
            </div>
            <div class="col-4 mt-2">
                <label for="" class="display-4">Price:{{cost}}</label>
            </div>
        </div>
        <div class="" formArrayName="parcels">
           <label class="mt-4 text-center mx-auto"for="">Colis</label>
            <hr class="mb-4">
            <div class="from-group row m-0 mb-2" [formGroupName]="index" *ngFor="let parcel of parcels; let index = index">
               <div class="col-10 row ">
                            <div class="col-md-2">
                                <label for="">Poids</label>
                                <input type="number" class="form-control" formControlName="weight" placeholder="Poids">
                            </div>
                            
                            <div class="col-md-2">
                                <label for="">longueur</label>
                                <input type="number" class="form-control" formControlName="length" placeholder="longueur">
                            </div>
                            
                            <div class="col-md-2">
                                <label for="">largeur</label>
                                <input type="number" class="form-control" formControlName="width" placeholder="largeur">
                            </div>
                            
                            <div class="col-md-2">
                                <label for="">Hauteur</label>
                                <input type="number" class="form-control" formControlName="height" placeholder="Hauteur">
                            </div>
                            <div class="col-md-3">
                                <label for="">Quantité</label>
                                <input type="number" class="form-control" formControlName="quantity" placeholder="Quantité">
                            </div>
               </div>
         
                <div class="col-md-2 mt-4" (click)="addParcel()">
                    <button class="btn btn-danger p-3 " (click)="deleteParcel(index)" *ngIf="index+1 !== parcels.length"><i class="bi bi-x"></i></button>
                    <button class="btn btn-info p-3 " (mouseup)="addParcel()" *ngIf="index+1 === parcels.length"><i class="bi bi-plus"></i></button>
                </div>
            </div>
           
        </div>


        <div class="row d-flex justify-content-center mt-4">
            
                <button class="btn btn-info shadow col-3 mx-2 " (click)="calculateOverweight()">Calculer</button>            
                <button class="btn btn-success shadow col-3 mx-2 " (click)="validateShipment()">Valider</button>
                <button class="btn btn-danger shadow col-3 mx-2 " (click)="validateShipment()">Annuler</button>
            
        </div>


    </div>
</form>

