<nav class="navbar navbar-light py-0 " style="border-bottom: #B32213   3px solid;background-image: linear-gradient();">
    <a href="/" class="navbar-brand d-flex pb-0 align-items-right mb-md-0 me-md-auto
      text-dark text-decoration-none">
        <img src="../../../assets/img/png.png" class="" width="180" alt="">
    </a>
        <span class="nav-item mx-auto text-secondary text-capitalize" *ngIf="isLogged">{{userLogged}}</span>
        <a class="nav-item btn" (click)="logout()" *ngIf="isLogged">Déconnecter</a>
        
   
</nav>
<router-outlet></router-outlet>
